<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<bean class="com.wy.mq.consumer.MqConsumerFactory" init-method="init">
		<property name="namesrvAddr" value="${mq.namesrvAddr}"/>
		<property name="jedisPool" ref="jedisPool"/>
	</bean>
	
	<bean id="defaultMQProducer" class="com.alibaba.rocketmq.client.producer.DefaultMQProducer">
		<property name="producerGroup" value="${mq.producerGroup}" />
		<property name="namesrvAddr" value="${mq.namesrvAddr}" />
	</bean>

	<bean id="ltnMqProducer" class="com.wy.mq.producer.LtnMqProducer">
		<property name="instanceName" value="${mq.instanceName}"/>
		<property name="defaultMQProducer" ref="defaultMQProducer" />
	</bean>
</beans>